bin/
build/
tmp/
BUILD
VERSION
tags
.tags*
./tags
# emacs lock files
.#*
.patch
.bundle
# terraform files
tfplan
plat.tf
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock
.terraform.tfstate.lock.info
